.nav {
    border-bottom: 1px solid #105e62;
    text-align: right;
    position: fixed; 
    left: 0; 
    top: 0; 
    width: 100%;
    font-family: 'Georgia', Times, Times New Roman, serif; 
    background-color: white; 
}

.nav ul {  
    margin: 0;
}

.nav li {
    list-style-type: none; 
    display: inline;
    padding: 0;
}

.headname {
    text-align: center; 
    position: center;
    margin-left: 275px;
    margin-top: 0px;
    margin-bottom: 0px;
    width: 275px;
    padding: 10px;
    border: 5px solid #4aaaa5;
    background-color: #4aaaa5;
    color: white

}